<h3>Diet Information</h3>
                    <%=diet_entry.label :food%>
                    <%=diet_entry.text_area :food%><br>
                    <%=diet_entry.label :snacks%>
                    <%=diet_entry.text_area :snacks%><br>
                    <%=diet_entry.label :calories%>
                    <%=diet_entry.number_field :calories%><br>
                    <%=diet_entry.label :water%>
                    <%=diet_entry.text_area :water%><br>