<h3>Exercise Information</h3>
                <%=exercise_entry.label :name%>
                <%=exercise_entry.text_field :name%><br>
                <%=exercise_entry.label :description%>
                <%=exercise_entry.text_area :description%><br>
                <%=exercise_entry.label :duration%>
                <%=exercise_entry.time_field :duration%><br>