<h2><%=user_dog.name.capitalize%>'s Journal</h2>
    <%=f.label :title%>
    <%=f.text_field :title%><br>
    <%=f.label :entry%>
    <%=f.text_area :entry%><br>
    <%=f.label :date%>
    <%=f.date_field :date%><br>