 <%=f.label :name%>
    <%=f.text_field :name, placeholder: (dog.errors[:name].first || "Enter Name")%><br>
    <%=f.label :breed%>
    <%=f.text_field :breed, placeholder: (dog.errors[:breed].first || "Enter Breed")%><br>
    <%=f.label :age%>
    <%=f.number_field :age, placeholder: (dog.errors[:age].first || "Enter Age")%><br>
    <%=f.label :weight%>
    <%=f.number_field :weight, placeholder: "Enter Weight"%><span>lbs</span><br>
    <%=f.label :gender%>
    <%=f.select(:gender, [["unkown", "unkown"], ["male", "male"],["female", "female"] ])%><br>
    <%=f.label :fixed, 'Check if Spayed/ Nuetered:'%>
    <%=f.check_box :fixed%><br>
    <%=f.label :birthday%>
    <%=f.date_field :birthday%><br>