<div class="dog-show">

    
    <h1><%=@dog.name.capitalize%>'s Information</h1>
    
        Breed: <%=@dog.breed%><br>
        Age: <%=@dog.age%> years<br>
        Weight: <%=@dog.weight%>lbs<br>
        Gender: <%=@dog.gender%><br>
        Spayed/Nuetered: <%=@dog.intact%><br>
        Birthday: <%=@dog.birthday%><br>

    <%if can? :update, @dog%>
     <%=link_to "Edit", edit_user_dog_path(current_user, @dog)%>
    <%end%>
    |
    <%if can? :destroy, @dog%>
     <%=link_to "Delete ", user_dog_path(current_user, @dog), method: 'delete'%>
    <%end%>

    <br>

    <%if can? :create, @dog%><%=link_to "Create Journal Entry for #{@dog.name.capitalize}", new_user_dog_journal_entry_path(current_user, @dog)%><%end%><br>
    
    
</div>