
<div class="users-show-journals">
    <h1><%= @user.full_name%></h1>
    <fieldset>
    <legend>Journal Entries</legend>
    <%@user.journal_entries.each do |entry|%>
        <h2><%=entry.title%></h2>
        <p><%=entry.entry%></p>
    <%end%>
    </fieldset>
</div>


<div class="users-show-dogs">
    <fieldset>
    <legend><%=@user.first_name%>'s Dogs</legend>
    <%if can? :create, @dog%><%=link_to "Add new dog", new_user_dog_path(@user)%><%end%><br>
    <%@user.dogs.each do |dog|%>
    <%# #create link to dog show, edit and delete %>
        <%=link_to dog.name.capitalize, user_dog_path(@user, dog)%>| 
        <%if can? :update, dog%><%=link_to "Edit", edit_user_dog_path(@user, dog)%><%end%>|
        <%if can? :destroy, dog%><%=link_to "Delete ", user_dog_path(@user, dog), method: 'delete'%><%end%><br>
        <%if can? :create, dog%><%=button_to "Create Journal Entry for #{dog.name.capitalize}", new_user_dog_journal_entry_path(@user, dog)%><%end%><br>

    <%end%>
    </fieldset>
</div>
