
<div class="users-show-journals">
    <h1><%= @user.full_name%></h1>
    <fieldset>
    <legend>Journal Entries</legend>
    
    <%@user.journal_entries.each do |entry|%>
        <h2><%=link_to entry.title, user_dog_journal_entry_path(entry.user_id, entry.dog_id, entry.id)%></h2>
        <p><%=entry.entry%></p>
       
        <%if can? :update, entry%><%=link_to "Edit Journal Entry", edit_user_dog_journal_entry_path(@user, entry.dog, entry)%><%end%>| 
        <%if can? :destroy, entry%><%=link_to "Delete ", user_dog_journal_entry_path(@user, entry.dog, entry), method: 'delete'%><%end%><br>
    <%end%>
    </fieldset>
</div>


<div class="users-show-dogs">
    <fieldset>
    <legend><%=@user.first_name%>'s Dogs</legend>
    
    <%if current_user.id == @user.id %><%=link_to "Create New Dog", new_user_dog_path(current_user)%><%end%><br>

    <%@user.dogs.each do |dog|%>
        <%=link_to dog.name.capitalize, user_dog_path(@user, dog)%>| 

        <%if can? :update, dog%><%=link_to "Edit", edit_user_dog_path(@user, dog)%><%end%>|

        <%if can? :destroy, dog%><%=link_to "Delete ", user_dog_path(@user, dog), method: 'delete'%><%end%><br>|

        <%if can? :create, dog%><%=link_to "Create Journal Entry for #{dog.name.capitalize}", new_user_dog_journal_entry_path(@user, dog)%><%end%><br>

    <%end%>
    </fieldset>
</div>
